.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20vw;
  background-color: rgba(255, 255, 255, 0.6);
  .content {
    position: relative;
    z-index: 2;
    max-width: 400px;
    margin: auto;
    background-color: var(--color-white);
  }
}
@media (max-width: 600px)  {
  .modal {
    padding: 50px 20px;
  }
}